

.img_conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 75%;
    margin: auto;
    padding-top: 15%;
}

.logo{
    border: 3px solid transparent; /* Ajusta el tamaño del borde según tus necesidades */
    border-radius: 50%; /* Ajusta el radio para bordes redondeados */
    box-shadow: 0 0 10px #7e6128; /* Efecto brillante */
    animation: glow 3s infinite alternate; 
    max-width: 65%;
    max-height: 75%;
    margin-top: 5px;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #7e6128; 
    }
    to {
        box-shadow: 0 0 20px #7e6128,
                    0 0 40px #7e6128,
                    0 0 60px #9b762d;
    }
}

.title-logo{
    margin-top: 30px;
    font-size: 75px;
    text-align: center;
    font-family: "Sofia";
    transition: .4s linear;
   
}

@media (min-width: 600px){
    .title-logo{
        font-size: 75px;
    }
}

@media (max-width: 900px){
    .title-logo{
        font-size: 50px;
    }
}

.title-logo:hover:hover {
    color: #9b762d;
}

.title-logo span{
    animation: iluminate 3s ease-in-out infinite alternate;
}

@keyframes iluminate {

    0%{
        opacity: 0.3;
    }
    25%{
        text-shadow: 0 0 2px #d6a644;
    }
    50%{
        text-shadow: 0 0 4px #d6a644; 
    }
    100%{
        text-shadow: 0 0 8px #d6a644; ;
    }
    100%{
        text-shadow: 0 0 16px #d6a644; ;
    }
    
}


.carousel-image {
    position: absolute;
    opacity: 0;
    animation: carousel 12s infinite;
}

.carousel-image:nth-child(1) {animation-delay: 0s;}
.carousel-image:nth-child(2) {animation-delay: 4s;}
.carousel-image:nth-child(3) {animation-delay: 8s;}

@keyframes carousel {

    0% {
        opacity: 0;
    }
    8.33% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    41.66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }

}

